table {
	border: 1px solid orange;
}

td:hover {
	background-color: yellow;
	color: black;
}

tr, th {
	background-color: black;
	color: coral;
}

tr, td {
	background-color: red;
	color: white;
}
